@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

.header {
    background: white;
}

.logo {
    display: inline-block;
    max-height: 100px;
}

.navbar{
    display: inline-block;
}

ul {
    
}

li {
    display: inline;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
    color: black;
}

.main {
    height: 600px;
    background: red;
    background: linear-gradient(black, darkred, firebrick, red, red, firebrick, darkred, black);
    background-repeat: no-repeat;
}

