@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.header {
    background: white;
}

.logo {
    display: inline-block;
    max-height: 100px;
    float: left;
}

.navbar{
    display: inline-block;
    width: 80%;
    margin-top: 82px
}

ul {
    width: 60%;
    margin-left: 100px auto;
    margin-top: auto;
    text-align: center;
}

li {
    display: inline;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
}

.main {
    height: 600px;
    background: red;
    background: linear-gradient(black, darkred, firebrick, red, red, firebrick, darkred, black);
    background-repeat: no-repeat;
}

