@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    float: left;
}

.navbar{
    display: inline-block;
    width: 100%;
}

ul {
    display: inline;
    float: right;
}

li {
    display: inline;
}

